<div class="mb-5 pb-5">
  <h1 class="text-center">WHY JOIN US</h1>
  <div class="profile">
    <h2 class="text-center">OUR PROFILE</h2>
    <h3>OUR PROJECT HAS BEEN METICULOUSLY CRAFTED TO MEET THE QUALITY STANDARDS</h3>
    <span>
      Our project is tailored to uphold the highest quality standards. 
      We're dedicated to addressing pressing issues through the development of an innovative ecosystem. 
      Our focus is on driving tangible outcomes within this ecosystem. Administratively, we prioritize efficiency, 
      simplicity, and showcasing the immense potential of the linguistic industry.
    </span>
    <h3>OUR PROJECT'S POTENTIAL FOR SUCCESS AND VALUE FOR MONEY</h3>
    <span>
      Our project holds a high probability of success and offers excellent value for money. 
      The use-economy-driven ecosystem shows promising prospects for success, 
      considering the scale of the problem it addresses and the resources it requires.
      <br><br>
      We carefully assess our project to ensure it has a positive, 
      long-term impact on endangered and small languages and the communities that speak them.
    </span>
    <h3>OUR ACTIVITIES AIM TO PROMOTE A POSITIVE SOCIAL DIMENSION AS ONE OF OUR KEY OBJECTIVES</h3>
    <span>
      The "social dimension" refers to the aspects of society that relate to individuals' interactions, 
      relationships, and well-being. It encompasses various factors such as social inclusion, 
      equality, community engagement, and overall societal welfare. Essentially, it focuses on how people 
      interact with each other within society and the impact of these interactions on individuals and communities.
    </span>
    <h3>WE HAVE CULTIVATED PROMISING TECHNOLOGICAL ADVANCEMENTS THROUGH OUR EFFORTS</h3>
    <span>
      By nurturing and sustaining the ecosystem, we propel advancements in 
      blockchain technology, language processing, and user interface design. 
      These advancements extend beyond the ecosystem, influencing innovation in related fields of technology.
    </span>
    <h3>JOB CREATION DRIVEN BY USER ECONOMY</h3>
    <span>
      Our ecosystem encourages individuals to participate actively as authors and editors. 
      This cultivation of involvement fosters collaboration, forges partnerships, 
      and instills a sense of ownership among users, thereby stimulating engagement 
      in business activities and facilitating community growth
    </span>
  </div>
</div>