<div class="mb-5 pb-5">
  <h2 class="text-center">OUR VISION</h2>
  <div class="row cards">
    <vision-cards class="col-md-4 vision-card"
      title="Comprehensiv Hub for Languages" 
      description="Beyond traditional translation, it offers insights into language structures and nuances." 
      icon=""></vision-cards>
    <vision-cards class="col-md-4 vision-card"
      title="Monetizing Language Knowledge" 
      description="Users earn LegalCoins by sharing linguistic expertise, contributing to the diversity of the Color Code Dictionary" 
      icon=""></vision-cards>
    <vision-cards class="col-md-4 vision-card"
      title="Revolutionizing Language Learning" 
      description="The ecosystem accelerates language access, combining technological innovation and a user-driven approach." 
      icon=""></vision-cards>
    <vision-cards class="col-md-4 vision-card"
      title="Global Impact on Education" 
      description="Contribute to global language education by addressing challenges in small language education worldwide." 
      icon=""></vision-cards>
    <vision-cards class="col-md-4 vision-card"
      title="Innovation Incentives" 
      description="Active user participation is rewarded with LegalCoins, serving as an incentive for driving innovation." 
      icon=""></vision-cards>
    <vision-cards class="col-md-4 vision-card"
      title="Integration with Legal Network" 
      description="The legal protection club ensures value, connecting linguists and lawyers globally." 
      icon=""></vision-cards>
    <vision-cards class="col-md-4 vision-card"
      title="Sustainable Growth" 
      description="A member's mutual fund ensures sustainable growth within the ecosystem." 
      icon=""></vision-cards>
    <vision-cards class="col-md-4 vision-card"
      title="Customized Solutions" 
      description="Beyond language, the ecosystem addresses users' well-being with personalized healthcare solutions." 
      icon=""></vision-cards>
    <vision-cards class="col-md-4 vision-card"
      title="Economic Opportunities" 
      description="E-commerce integration opens new economic opportunities for users, fostering growth within the community." 
      icon=""></vision-cards>
  </div>
</div>