@import "../SCSS/init";

.navbar-brand {
  img {
    width: 50px;
  }
}

.navbar {
  font-size: $small_Font;
}

.navbar-nav > li{
  margin-left:5px;
  margin-right:5px;
}

.bg-black {
  background-color: black !important;
}

.header {
  margin: 0;
}

.button {
  border:1px solid white;
  padding: 8px 24px;
  font-weight: $medium_Weight;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
}