<navbar></navbar>
<div class="my-5 d-flex justify-content-center">
    <div class="donate__form text-center">
      <h1>Collective action adds up</h1>
      <p>
        When you donate to YI™, you invest in a future where culture is preserved and opportunities open up for people of all ethnicities and origins.
        Your donation helps us make this dream a reality. <br><br>
        Every Euro donated goes directly into the realisation of this project.
      </p>
      <donation-form></donation-form>
    </div> 
</div>

<div class="d-flex justify-content-center mb-5 pb-5">
  <div class="donate__progress">
    <donation-goal></donation-goal>
  </div>
</div>

<div class="container justify-content-center my-5">
  <div class="donate__reason text-center m-auto my-5">
    <h2 class="text-center">Why Should You Donate?</h2>
    <p>
      <u>For every Euro donated to our organization, the impact within the network is equivalent to <b>€3!</b></u>
    </p>
    <p>
      This means that your donation has a significant multiplier effect. 
      For example, if you donate just <b>$1 or €1</b> to a cause, the overall positive change or benefit that your donation generates within the network 
      is valued at <b>$3 or €3</b>. This concept highlights how small contributions can lead to substantial outcomes when combined and leveraged effectively within a network.
    </p>
  </div>
  <h2 class="text-center">Why Should You Support?</h2>
  <donation-why></donation-why>
</div>

<footer></footer>