@import "../../../shared/SCSS/variables";
@import "../../../shared/SCSS/mixins";

.donate {
  &__form{
    width: 600px;
  }
  &__progress{
    width: 800px;
  }
  &__reason {
    @include small {
      width: fit-content;;
    }
    @include normal {
      width: fit-content;;
    }
    @include large {
      width: 1000px;
    }
  }
  &__incitement {
    width: 800px;
  }
}

.form {
    padding-top: 76px
}