<form [formGroup]="form" (ngSubmit)="changePassword()" autocomplete="disabled">

  <!-- Password input -->
  <div class="form-group mb-3">
    <label for="password" class="form-label">Enter new Password</label>
    <input formControlName="password" id="password" type="password" class="form-control form-control-lg input-on-black"
      placeholder="Enter password " 
      [ngClass]="password?.touched && password?.invalid || form.hasError('passwordsShouldMatch') && confirmPassword?.touched  ? 'is-invalid' : ''">
    <div *ngIf="password?.touched && password?.invalid">
      <div *ngIf="password?.hasError('required')" class="invalid-feedback d-block">Password is required</div>
    </div>
  </div>
  <!-- Confirm password input -->
  <div class="form-group mb-3">
    <label for="confirmPassword" class="form-label">Confirm password</label>
    <input formControlName="confirmPassword" id="confirmPassword" type="password" class="form-control form-control-lg input-on-black"
      placeholder="Confirm your Password " 
      [ngClass]="confirmPassword?.touched && confirmPassword?.invalid || form.hasError('passwordsShouldMatch') && confirmPassword?.touched ? 'is-invalid' : ''">
    <div *ngIf="confirmPassword?.touched && confirmPassword?.invalid">
      <div *ngIf="confirmPassword?.hasError('required')" class="invalid-feedback d-block">Confirm password is required</div>
    </div>
    <div *ngIf="form.hasError('passwordsShouldMatch') && confirmPassword?.touched" class="invalid-feedback d-block">Passwords don't match</div>
  </div>

  <div class="text-center text-lg-start mt-4 pt-2">
    <button type="submit" class="button button-on-black" [disabled]="!form.valid">Change Password</button>
    <p class="small fw-bold mt-2 pt-1 mb-0">Remembered your Password?
      <a routerLink="/login" class="d-inline-block mx-2 link">Back to Login</a>
    </p>
  </div>

</form>