
//fonts
$small_Font: 16px;
$medium_Font: 20px;
$larger_Font: 24px;
$subTitle_Font: 28px;
$title_Font: 38px;

//weight 
$medium_Weight: 500;
$bolder_Weight: 600;
$title_Weight: 800;

//line height
$small_Height: 100%;
$medium_Height: 120%;