<div class="mb-5 pt-5">
  <h1 class="text-center">WHY JOIN US</h1>
  <div class="profile">
    <h2 class="text-center">OUR PROFILE</h2>
    <div class="row profile__block">
      <div class="profile__text">
        <h3>Our Project has been Meticulously Crafted to Meet the Quality Standards</h3>
        <span>
          Our project is tailored to uphold the highest quality standards. 
          We're dedicated to addressing pressing issues through the development of an innovative ecosystem. 
          Our focus is on driving tangible outcomes within this ecosystem. Administratively, we prioritize efficiency, 
          simplicity, and showcasing the immense potential of the linguistic industry.
        </span>
      </div>
      <img src="../../../assets/imgs/profile/Checklist.png" class="col-3">
    </div>
    <div class="row profile__block">
      <img src="../../../assets/imgs/profile/Trophy.png" class="col-3">
      <div class="profile__text">
        <h3>Our Project's Potential for Success and Value for Money</h3>
        <span>
          Our project holds a high probability of success and offers excellent value for money. 
          The use-economy-driven ecosystem shows promising prospects for success, 
          considering the scale of the problem it addresses and the resources it requires.
          <br><br>
          We carefully assess our project to ensure it has a positive, 
          long-term impact on endangered and small languages and the communities that speak them.
        </span>
      </div>
    </div>
    <div class="row profile__block">
      <div class="profile__text">
        <h3>Our Activities Aim to Promote a Positive Social Dimension as One of Our Key Objectives</h3>
        <span>
          The "social dimension" refers to the aspects of society that relate to individuals' interactions, 
          relationships, and well-being. It encompasses various factors such as social inclusion, 
          equality, community engagement, and overall societal welfare. Essentially, it focuses on how people 
          interact with each other within society and the impact of these interactions on individuals and communities.
        </span>
      </div>
      <img src="../../../assets/imgs/profile/Handshake.png" class="col-3">
    </div>
    <div class="row profile__block">
      <img src="../../../assets/imgs/profile/Phone_Cog.png" class="col-3">
      <div class="profile__text">
        <h3>We have Cultivated Promising Technological Advancements through Our Efforts</h3>
        <span>
          By nurturing and sustaining the ecosystem, we propel advancements in 
          blockchain technology, language processing, and user interface design. 
          These advancements extend beyond the ecosystem, influencing innovation in related fields of technology.
        </span>
      </div>
    </div>
    <div class="row profile__block">
      <div class="profile__text">
        <h3>Job Creation Driven by User Economy</h3>
        <span>
          Our ecosystem encourages individuals to participate actively as authors and editors. 
          This cultivation of involvement fosters collaboration, forges partnerships, 
          and instills a sense of ownership among users, thereby stimulating engagement 
          in business activities and facilitating community growth
        </span>
      </div>
      <img src="../../../assets/imgs/profile/Suit.png" class="col-3">
    </div>
  </div>
</div>