@import "../../../shared/SCSS/variables";

.profile {
  background-color: black;
  color: $veryLightGray;
  padding: 48px 80px;
  margin: auto;
  width: 90%;
}

span {
  display: block;
  margin-bottom: 24px;
}
h3 {
  margin-bottom: 24px;
}

.block {
  margin-bottom: 24px;
}

img { 
  margin: auto;
}