<section class="vh-100 forgot-password">
  <div class="container-fluid h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="../../../assets/imgs/cartoon.png"
          class="img-fluid">
      </div>

      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

        <verify-for-password-reset (verified)="emailDone($event)" *ngIf="!emailSent"></verify-for-password-reset>
        <enter-password-code (codeEntered)="codeVerified()" [email]="email" *ngIf="emailSent && !codeCorrect"></enter-password-code>
        <enter-new-password [email]="email" *ngIf="codeCorrect"></enter-new-password>
      
      </div>
    </div>
  </div>
</section>