<div class="about">
  <div class="w-50 mt-5 pb-5">
    <h1>
      <span *ngFor="let word of header" class="d-initial">{{word }}</span>
    </h1>
    <h2 class="d-block">OUR MISSION</h2>
    <span>
      Use-Economy-Driven Color Code Dictionary is strongly committed to 
      reversing the trend of human-induced small language extinction and 
      saving endangered languages.
    </span>
    <br>
    <span class="my-3 d-block">Let us access the core of each language hundreds of times faster!</span>
    <div class="mt-4">
      <button class="button">Donate</button>
      <button class="button-white volunteer" routerLink="/register">Volunteer</button>
    </div>
  </div>
</div>