
.volunteer {
  margin-left: 8px;
}

button {
  width: 30%;
}

.about {
  background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)),url("../../../../assets/imgs/cartoon.png");
  background-repeat: repeat;
  background-size: contain;
}