<div class="mb-5 pb-5">
  <h2 class="text-center">OUR VALUES</h2>
  <div class="d-flex pb-5 value__container">
    <div class="value__text">
      <h3>Passion for Languages Supported by Unique Mentalities</h3>
      <span>Unlocking the structures and nuances of languages supported by unique mentalities</span>
      <h3 class="value__text__title">Progress</h3>
      <span>Continuously advancing at all levels to meet the evolving needs of endangered and small language natives.</span>
      <h3 class="value__text__title">Optimism</h3>
      <span>Commited to solving the languages' extinction crisis by preserving linguistic diverity.</span>
      <h3 class="value__text__title">Integrity</h3>
      <span>Maintaining accuracy and reliability in color and language associations.</span>
    </div>
    <img class="image" src="../../../assets/imgs/cartoon.png" alt="">
  </div>
</div>