@import "../SCSS/variables";

.logo {
  width: 50px;
  cursor:pointer;
}

.navbar {
  font-size: $small_Font;
  .nav-link {
    color: $veryLightGray;
  }
}

.navbar-nav > li{
  margin-left:5px;
  margin-right:5px;
}

.bg-black {
  background-color: black !important;
}

.button {
  font-size: $small_Font;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
}

.dropdown-item {
  transition-duration: 0.4s;
}
.dropdown-item:hover {
  background-color: black;
  color: $veryLightGray;
}