@import "../../SCSS/variables";
@import "../../SCSS/mixins";

.footer {
  background-color: black;
  color: $veryLightGray;
  padding: 32px;

  @include small {
    text-align: center;
  }

  &__links {
    flex: 1 0 auto; 
    @include small {
      flex: 1 0 0%; 
      width: 100%;
    }
    @include normal {
      width: 100%;
    }
    @include large {
      width: 75%;
    }
  }


  &__link {
    flex: 1 0 0%;
    @include small {
      width: 50%;
      margin-bottom:32px;
    }
    @include normal {
      width: 50%;
      margin-bottom:32px;
    }
  }
}

.logo {
  display: block;
  width: 80px;
  margin: auto;
}

.news {
  @include small {
    display: none;
  }

  @include normal {
    display: none;
  }

  @include large {
    display: block;
  }
}

.newsletter {
  &__label {
    font-weight: $title_Weight;
  }


  &__check {
    background-color: black;
    color: white;
    width: 48px;
    transition-duration: 0.4s;
  
    &:hover:not([disabled]) {
      background-color: $darkGray;
    }
  }
}



.menu {
  &__header {
    font-weight: $title_Weight;
  }
  
  &__item {
    font-size: $small_Font;
    transition-duration: 0.4s;
    &:hover {
      color: $darkerGray;
    }
  }
}

.socials {
  text-align: center;

  @include small {
    flex: 0 0 auto;
    width: 40%;
    margin-bottom: 32px;
  }
  @include normal {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  @include large {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  &__icon {
    margin-right: 0;
  }

  &__label {
    display: block;
    margin-top: 8px;
    font-size: $small_Font;
  }
}

.policy {
  text-align: center;
  
  span {
    display: block;
  }

  &__header {
    margin-bottom: 8px;
  }

  &__legal {
    font-size: $verySmall_Font;
    line-height: $medium_Height;
  }
}