<div class="mb-5 pt-5">
  <h2 class="text-center">OUR VISION</h2>
  <div class="row cards">
    <card class="col-md-4 vision-card"
      title="Comprehensiv Hub for Languages" 
      description="Beyond traditional translation, it offers insights into language structures and nuances." 
      icon="../../../../assets/imgs/about/Language_Hub_3.png"></card>
    <card class="col-md-4 vision-card"
      title="Monetizing Language Knowledge" 
      description="Users earn LegalCoins by sharing linguistic expertise, contributing to the diversity of the Color Code Dictionary" 
      icon="../../../../assets/imgs/about/Monetizing_Language_Knowledge.png"></card>
    <card class="col-md-4 vision-card"
      title="Revolutionizing Language Learning" 
      description="The ecosystem accelerates language access with technological innovation and a user-driven approach." 
      icon="../../../../assets/imgs/about/Language_Learning_2.png"></card>
    <card class="col-md-4 vision-card"
      title="Global Impact on Education" 
      description="Contribute to global language education by addressing challenges in small language education worldwide." 
      icon="../../../../assets/imgs/about/Global_Impact_on_Education.png"></card>
    <card class="col-md-4 vision-card"
      title="Innovation Incentives" 
      description="Active user participation is rewarded with LegalCoins, serving as an incentive for driving innovation." 
      icon="../../../../assets/imgs/about/Lightbulb.png"></card>
    <card class="col-md-4 vision-card"
      title="Integration with Legal Network" 
      description="The legal protection club ensures value, connecting linguists and lawyers globally." 
      icon="../../../../assets/imgs/about/Scales.png"></card>
    <card class="col-md-4 vision-card"
      title="Sustainable Growth" 
      description="A member's mutual fund ensures sustainable growth within the ecosystem." 
      icon="../../../../assets/imgs/about/Sustainable_Growth_2.png"></card>
    <card class="col-md-4 vision-card"
      title="Customized Solutions" 
      description="Beyond language, the ecosystem addresses users' well-being with personalized healthcare solutions." 
      icon="../../../../assets/imgs/about/DNA.png"></card>
    <card class="col-md-4 vision-card"
      title="Economic Opportunities" 
      description="E-commerce integration opens new economic opportunities for users, fostering growth within the community." 
      icon="../../../../assets/imgs/about/Economic_Opportunities.png"></card>
  </div>
</div>