@import "../../shared/SCSS/variables";

.login {
  background-color: black;
  color: $veryLightGray;
}

button {
  padding-left: 64px;
  padding-right: 64px;
}

.link {
  color: $lighterGray;
  transition-duration: 0.4s;
  &:hover {
    color: $darkerGray;
  }
}