
<div class="cards">
  <div class="row">
  <donation-card class="col-md-4 donation-card"
    title="Innovative Language Access" 
    description="The Color Code Dictionary (CCD) platform goes beyond mere translation by providing tools and resources that allow users to grasp the core elements of each language quickly, making language learning and understanding hundreds of times faster." 
    ></donation-card>
  <donation-card class="col-md-4 donation-card"
    title="Thriving User-Economy" 
    description="Our platform creates a dynamic environment where users are incentivized to contribute as authors and editors. This collaboration fosters a sense of ownership, driving community engagement and growth." 
    ></donation-card>
  <donation-card class="col-md-4 donation-card"
    title="Cultural Preservation" 
    description="By supporting our ecosystem, you help preserve and promote linguistic diversity. Our focus on endangered and minority languages ensures that cultural heritage is maintained and revitalized for future generations." 
    ></donation-card>
  <donation-card class="col-md-4 donation-card"
    title="Diverse Integration" 
    description="The integration of Legal-Coin, the Legal Protection Club, the Member's Mutual Fund, YI Health, and YI Shop components enhances the ecosystem's value. These features create job opportunities, attract a diverse user base, and open new avenues for strategic partnerships." 
    ></donation-card>
  <donation-card class="col-md-4 donation-card"
    title="Technological Advancement" 
    description="Supporting our project drives advancements in cryptocurrency technology, language processing, and user interface design. These innovations benefit the platform and contribute to broader technological progress." 
    ></donation-card>
  <donation-card class="col-md-4 donation-card"
    title="Industry Disruption" 
    description="Our approach has the potential to revolutionize the language industry by connecting people across cultures and creating a sustainable, influential ecosystem that sets new standards for language learning and preservation." 
    ></donation-card>
</div>
