<div class="row mb-5 py-5 forms">
  <div class="col d-flex flex-column">
    <div class="title">
      <h3 class="mb-0">Looking to learn more about partnerships for your business? *</h3>
      <span>Let us know a little bit about your business and we will follow up with you</span>
    </div>
    <business-form class="mt-auto"></business-form>
  </div>

  <div class="col d-flex flex-column">
    <div class="title">
      <h3 class="mb-0">Become a volunteer*</h3>
      <span>Let us know a little bit about you and we will follow up with you</span>
    </div>
    <volunteer-form class="mt-auto"></volunteer-form>
  </div>
</div>