
<section class="join-our-cause mb-5 py-5">
  <h2 class="text-center">JOIN OUR CAUSE</h2>
  <div class="volunteer">
    <div class="title">
      <h3>Looking to become a volunteer?</h3>
      <span class="">Create an account and be up to date to our latest news and ways to help our cause!</span>
    </div>
    <button class="button" routerLink="/register">Become a volunteer</button>
  </div>
  <div class="business">
    <div class="title">
      <h3>Looking to become business partners?</h3>
      <span>Let us know a little bit about your business and we we will follow up with you</span>´
    </div>
    <business-form class="mt-auto"></business-form>
  </div>
</section>
