
/* Importing Bootstrap SCSS file. */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import 'app/shared/SCSS/init';


html, body { 
  min-height: 100%;
  overflow-x: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



/* Register component country select style (needs global styling)*/
.mdc-text-field {
  background-color: black;
  border-radius: 0 !important;
  border: 1px solid $darkerGray;
  color: $veryLightGray !important;
  font-size: $medium_Font !important;
  &::placeholder {
    color: $mediumGray;
  }
  &:focus {
    background-color: black;
    color: $veryLightGray;
  }
}

.mdc-text-field__input {
  color: $veryLightGray !important;
}

.mat-mdc-floating-label {
  color: $mediumGray !important;
  font-size: $medium_Font !important;
}